{% extends "base.html" %}

{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
{% endblock %}

{% block body %}
    <body>
        <h1>{{msg}}</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('auth.user_registration') }}">Register</a>
                <li><a href="{{ url_for('auth.login') }}">Log In</a>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="{{ url_for('converter.upload') }}">Upload file</a>
                <li><a href="{{ url_for('converter.download') }}">Download file</a>
            </ul>
        </nav>
    </body>
{% endblock %}